<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>300000</particles>
  <batches>475</batches>
  <inactive>275</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="fission">
      <parameters>-0.63 -0.63 0.0 0.63 0.63 375</parameters>
    </space>
  </source>
  <temperature_method>interpolation</temperature_method>
</settings>
