<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>3000</particles>
  <batches>20</batches>
  <inactive>10</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-0.63 -0.63 0.0 0.63 0.63 375</parameters>
    </space>
  </source>
</settings>
